/LinkedList/.vs/Algorithms/v15/*.suo
/LinkedList/.vs/Algorithms/v15/*.db
/LinkedList/.vs/Algorithms/v15/*.opendb
/LinkedList/.vs/Algorithms/v15/ipch/AutoPCH/1ec85ee23db2b262/*.ipch
/LinkedList/Algorithms/x64/Debug/Algorithms.tlog/*.tlog
/LinkedList/Algorithms/x64/Debug/*.obj
